body{
    background-color:black;
    color: aliceblue;
}
h1{
   text-align: center;
   justify-content: center;
}
hr{
    height: 2px;
    background-color: gold;
}
.container{
    background-color:black;
    color:white ;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 520px;
    padding-left:22%;
    padding-right:25%;
}
.formbox{
   width: 520px;
   padding-left: 30%;
   padding-right: 30%;
   box-shadow: 10px 10px 10px 10px grey;
}
input[type='number']{
    width: 520px;
}
input[type='text']{
    width: 520px;
} 
input[type='submit']{
    height: 40px;

} 
.selbox{
    width:520px;
}
.submit{
    color:white;
    background-color: black;
    text-align: center;
}
footer{
    text-align: center;
    justify-content: center;
    height: 200px;
}
